# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
*.iml
.idea/
.vscode/

# Android
/local.properties
.externalNativeBuild/
.cxx/
/captures

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db

# Signing
*.keystore
*.jks
